h1{font-size:100px;
background-color: cyan;
font-family:"Times New Roman", Times, serif;
font-style: italic;
color: yellow; }
a{font-size: 40px;
background-color: cyan
color: pink;}
a:hover{background-color: pink}
div{background-color: cyan;
	border-style: dotted;}
img{display: block;
margin: auto;}